{{>header}}
{{>navFile}}
<section class="container p-5">
    <div class="row">
        <div class="col-6">
            <h2>{{data.name}}</h2>
            <h3>{{data.email}}</h3>
            <h4>{{data.whatsapp}}</h4>
            <h5>{{data.address}}</h5>
            <p class="card-text">{{data.desc}}</p>
            {{#each data.appointments}}
            <h4>{{this.day_name}}</h4>
            <p>{{this.appointment_time}}</p>
            {{/each}}
        </div>
        <div class="col-4">
            <img src="{{data.image}}" class="card-img-top img-fluid" alt="...">
        </div>

    </div>
</section>

{{>footer}}